.git
.gitignore
node_modules
npm-debug.log
vendor
.env
.env.*
!.env.example
.phpunit.result.cache
package-lock.json
README.md
AGENTS.md
.dockerignore
docker-compose*
Dockerfile
docker*
.vscode
.idea
*.md
tests/
.phpunit
